In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [116]:
path = "../Data_Sets_for_Final_Projects/Carbon-Data-ALPIDE-CHIP-Longitudinal/151218_04237.csv"
#df = pd.read_csv(path)
df = pd.read_csv(path,
                 converters={"column": lambda vol: vol.strip("[]").split(";"),
                             "row": lambda vol: vol.strip("[]").split(";") })

* 판다스에서 데이터를 읽을 때 세미콜론으로 나눠져 있는 데이터를 리스트형으로 분할하는 방법
    * pd.read_csv()에서 converters옵션 사용하기

In [117]:
df.head(n=20)

,ru_id,frame_id,stave_id,chip_id,abs_time,bunch_counter,column,row
0,1,1.0,0,5,3.949260e+09,54,"[1, 1, 0, 0, 1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, ...","[48, 239, 263, 297, 305, 370, 332, 433, 250, 3..."
1,1,2.0,0,5,3.949380e+09,154,"[1, 1, 0, 0, 1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, ...","[48, 239, 263, 297, 305, 370, 332, 433, 250, 3..."
2,1,3.0,0,5,3.949500e+09,64,"[1, 1, 0, 0, 1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, ...","[48, 239, 263, 297, 305, 370, 332, 433, 250, 3..."
3,1,6.0,0,5,3.949860e+09,106,[829],[478]
4,1,14.0,0,5,3.950820e+09,11,"[957, 957, 958, 958]","[421, 422, 421, 422]"
5,1,39.0,0,5,3.953820e+09,82,"[797, 796, 796, 797]","[353, 353, 354, 354]"
6,1,75.0,0,5,3.958140e+09,100,[829],[478]
7,1,92.0,0,5,3.960180e+09,9,"[268, 268, 269, 269, 268]","[129, 130, 130, 131, 131]"
8,1,121.0,0,5,3.963660e+09,222,[866],[346]
9,1,143.0,0,5,3.966300e+09,183,"[445, 444, 444, 445, 446, 446, 447, 447, 446]","[343, 343, 344, 344, 343, 344, 344, 345, 345]"
10,1,166.0,0,5,3.969060e+09,244,[866],[346]
11,1,200.0,0,5,3.973140e+09,63,"[268, 269]","[342, 342]"
12,1,212.0,0,5,3.974580e+09,110,[829],[478]
13,1,238.0,0,5,3.977700e+09,24,"[558, 559, 558]","[142, 142, 143]"
14,1,251.0,0,5,3.979260e+09,237,"[637, 637, 638, 638]","[310, 311, 310, 311]"
15,1,255.0,0,5,3.979740e+09,190,[829],[478]
16,1,260.0,0,5,3.980340e+09,242,[866],[346]
17,1,266.0,0,5,3.981060e+09,137,[829],[478]
18,1,282.0,0,5,3.982980e+09,203,[829],[478]
19,1,293.0,0,5,3.984300e+09,151,"[507, 507, 509, 508, 509, 508, 510, 510]","[446, 447, 445, 446, 446, 447, 445, 446]"

가설을 만든 후 검증한다.

* 'ru_id'는 항상 `1`
* 'stave_id'는 항상 `0`
* 'chip_id'는 항상 `5`

In [118]:
df['ru_id'].unique()
assert df['ru_id'].unique() == 1
assert df['stave_id'].unique() == 0
assert df['chip_id'].unique() == 5

* assert문에서 에러가 발생하지 않았으므로 모두 참이다.
* 'ru_id', 'stave_id', 'chip_id'는 항상 같은 값을 가지므로 유용한 정보가 없다. 따라서 drop한다.

In [119]:
df.drop(['ru_id', 'stave_id', 'chip_id'], axis="columns", inplace=True)
df.head(n=20)

,frame_id,abs_time,bunch_counter,column,row
0,1.0,3.949260e+09,54,"[1, 1, 0, 0, 1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, ...","[48, 239, 263, 297, 305, 370, 332, 433, 250, 3..."
1,2.0,3.949380e+09,154,"[1, 1, 0, 0, 1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, ...","[48, 239, 263, 297, 305, 370, 332, 433, 250, 3..."
2,3.0,3.949500e+09,64,"[1, 1, 0, 0, 1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, ...","[48, 239, 263, 297, 305, 370, 332, 433, 250, 3..."
3,6.0,3.949860e+09,106,[829],[478]
4,14.0,3.950820e+09,11,"[957, 957, 958, 958]","[421, 422, 421, 422]"
5,39.0,3.953820e+09,82,"[797, 796, 796, 797]","[353, 353, 354, 354]"
6,75.0,3.958140e+09,100,[829],[478]
7,92.0,3.960180e+09,9,"[268, 268, 269, 269, 268]","[129, 130, 130, 131, 131]"
8,121.0,3.963660e+09,222,[866],[346]
9,143.0,3.966300e+09,183,"[445, 444, 444, 445, 446, 446, 447, 447, 446]","[343, 343, 344, 344, 343, 344, 344, 345, 345]"
10,166.0,3.969060e+09,244,[866],[346]
11,200.0,3.973140e+09,63,"[268, 269]","[342, 342]"
12,212.0,3.974580e+09,110,[829],[478]
13,238.0,3.977700e+09,24,"[558, 559, 558]","[142, 142, 143]"
14,251.0,3.979260e+09,237,"[637, 637, 638, 638]","[310, 311, 310, 311]"
15,255.0,3.979740e+09,190,[829],[478]
16,260.0,3.980340e+09,242,[866],[346]
17,266.0,3.981060e+09,137,[829],[478]
18,282.0,3.982980e+09,203,[829],[478]
19,293.0,3.984300e+09,151,"[507, 507, 509, 508, 509, 508, 510, 510]","[446, 447, 445, 446, 446, 447, 445, 446]"

In [120]:
def listcolumn_to_rows(df, explode):
    idx = df.index.repeat(df[explode[0]].str.len())
    df1 = pd.concat([
        pd.DataFrame({x: np.concatenate(df[x].values)}) for x in explode], axis=1)
    df1.index = idx
    return df1.join(df.drop(explode, 1), how='left').reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   frame_id       4960 non-null   float64
 1   abs_time       4960 non-null   float64
 2   bunch_counter  4960 non-null   int64
 3   column         4960 non-null   object
 4   row            4960 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 193.9+ KB

* 데이터프레임에서 리스트형으로 존재하는 값을 explode하기
    * https://www.w3resource.com/pandas/dataframe/dataframe-explode.php
    * https://stackoverflow.com/a/53218939

In [121]:
df = listcolumn_to_rows(df, ['column', 'row'])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2094546 entries, 0 to 2094545
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   column         object
 1   row            object
 2   frame_id       float64
 3   abs_time       float64
 4   bunch_counter  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 79.9+ MB

  column  row  frame_id      abs_time  bunch_counter
0      1   48       1.0  3.949260e+09             54
1      1  239       1.0  3.949260e+09             54
2      0  263       1.0  3.949260e+09             54
3      0  297       1.0  3.949260e+09             54
4      1  305       1.0  3.949260e+09             54